@import "normalize.css";
@import "bootstrap.min.css";

// input { outline: 0; }

// .container { max-width: 1024px; margin: 0 auto; }

body { background: #1d1d1d; }

#header {
  // padding: 20px;
  // border-bottom: 1px solid #444;
  // box-shadow: 0px 0px 3px rgba(0,0,0,.8);
  text-align: center;

  form { margin: 0; padding-top: 5px; }
  button { margin-top: 0; }
}

#frames {
  // border: 1px solid red;  
  position: relative;
  margin-top: 50px
}

iframe { border: 0; margin: 0; padding: 0;}

.frame {
  position: absolute; top: 0;
  // -webkit-box-shadow: 0px 0px 5px #000;
  background: white;
  -webkit-transition: all .5s;

  &.zoomed {
    -webkit-transform: scale(1) !important;
    position: fixed;
    top: 40px !important; bottom: 0 !important; height: 90% !important;
    left: 25% !important;
  }
}


.controls {
  position: absolute; top: -40px;
  -webkit-transition: all .5s;
  // height: 30px;

  .inner { position: relative; }
  button {
    opacity: 0; -webkit-transition: opacity .25s;
    z-index: 100;
    position: absolute;
  }
  &:hover button { opacity: 1; }

  &.zoomed {
    position: fixed; top: 5px;
    // width: auto !important; left: 0 !important; right: 0;
    button {opacity: 1;}
  }
}

.caption {
  display: block;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  text-align: center;
  // color: #aaa;
  z-index: 0;

  span { position: absolute; top: 2px; display: inline-block; margin-left: 5px; }
}

.open { right: 5px; }
.zoom { left: 0; display: none; }
